extends layout

block content
    h2 User Detail
    p #{user.name}

    h3 Books 
    if books && books.length > 0
        ol
            each book in books
                li 
                a(href=`/users/${user.id}/book/${book.id}/posts`) = #{book.name} 
                p Author:  #{book.author} 
                p Genre: #{book.genre.name}

           
    else 
        p No books
